<div class="container-fluid">
  <div class="card">
    <header>
      <span>CRM - MANEGEMENT</span>
    </header>
    <form >
        <div class="inputContent">
          <label>Username</label>
          <div class="input">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" class="icon"></mat-icon>
            <input type="text" placeholder="username@gmail.com">
          </div>
        </div>
        <br>
        <div class="inputContent">
          <label>Username</label>
          <div class="input">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="lock" class="icon"></mat-icon>
            <input type="text" placeholder="username@gmail.com">
          </div>
        </div>
        <br>
        <button>Entrar</button>
    </form>
    <footer>
      <span>Cadastre-se</span>
      <span>Esqueceu a senha ?</span>
    </footer>
  </div>
</div>
